export AWS_ACCESS_KEY_ID=1234-5678-90ab
export AWS_SECRET_ACCESS_KEY=cdef-1234-5678
export KINESIS_ENDPOINT=https://127.0.0.1:11501
export AWS_DISABLE_CERTIFICATE_VERIFY=1
export AWS_CBOR_DISABLE=1                 


